.vs
XamFormsTVSeries/bin
XamFormsTVSeries/obj
XamFormsTVSeries/obj
XamFormsTVSeries.Android/bin
XamFormsTVSeries.Android/obj
XamFormsTVSeries.iOS/bin
XamFormsTVSeries.iOS/obj
XamFormsTVSeries.iOS/obj
